<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Webpack conditional import</title>
</head>

<body>
  <h1>Webpack conditional import</h1>

  <div id="root"></div>

  <script
    type="text/javascript"
    src="/<%= htmlWebpackPlugin.options.version %>config.js"
  >
  </script>

  <script
    type="text/javascript"
    src="/<%= htmlWebpackPlugin.options.version %>main.js"
  >
  </script>
</body>

</html>
